.Matriz{
    background: linear-gradient(150deg, rgba(69, 126, 31, 0.877), rgb(44, 102, 80), rgb(33, 74, 94));
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
    height: auto;
}

.Arbol{
        background: #9fb8ad;
        background: -webkit-linear-gradient(to right, #240b36, #9fb8ad);
        background: linear-gradient(to right, #240b36, #9fb8ad);
        height: auto !important;
}

.FondoImagen{
    background-color:  transparent !important;
    border: none !important;
    align-items: center !important;
    font-size: 100px;
}
.DatosMatriz{
    background-color:  transparent!important;
    border: none !important;
    align-items: center !important;
    font-size: 100px;
    height: auto;
}

.Botones{
    align-items: center !important;
}


#Parra{
    font-size: 100px;
}
