.ImportList {
    background: #d8c292;
    background: -webkit-linear-gradient(to right, #5b5b5b, #d8c292);
    background: linear-gradient(to right, #5b5b5b, #d8c292);
    height: auto;
}

.mosaico {
    margin-left: 50px !important;
    margin-right: 50px !important;
    height: auto;
}

.carga{
    height: auto;
}

#General{
    border: none !important;
    background-color:  transparent!important;
}