.Pedidos{
    background: #22e06bc7;
    background: -webkit-linear-gradient(to right, #387c77, #22e06bc7);
    background: linear-gradient(to right, #387c77, #22e06bc7);
    height: 100vh !important;
}